[Unit]
Description=Graphite
After=network.target

[Service]
User={{ pillar['graphite']['user'] }}
Group={{ pillar['graphite']['user'] }}
WorkingDirectory=/opt/graphite/webapp/graphite
ExecStart=/bin/bash -c "source /opt/graphite/bin/activate; source /opt/graphite/bin/postactivate; PYTHONPATH=/opt/graphite/lib/:/opt/graphite/webapp/ exec django-admin.py runserver [::]:8080 --settings=graphite.settings"
Restart=always

[Install]
WantedBy=multi-user.target
